* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
}

header {
  height: 6vh;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  -webkit-box-shadow: 0 0 5px -3px #333333;
          box-shadow: 0 0 5px -3px #333333;
}

nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 100%;
  padding: 0.5em 0;
}

nav ul img {
  height: 70%;
  width: 14px;
}

nav ul:first-child li:nth-child(3) {
  font-weight: bold;
  font-size: 0.9rem;
}

nav ul:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul:last-child button {
  border: 1px solid #326891;
  background-color: #567b95;
  padding: 0.4em 0.8em;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 3px;
  margin-right: 0.5em;
}

nav > img {
  height: 60%;
}

.opening {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.opening h1 {
  text-align: left;
  padding: 2em 0;
  width: 50%;
  font-size: 2rem;
  margin: 0 auto;
  font-style: italic;
}

.opening img {
  width: 100%;
}

.opening figcaption {
  color: #666a79;
  font-size: 0.9rem;
  width: 80%;
  padding: 0.5em 0;
}

.opening figcaption span {
  color: #88888b;
  font-size: 0.7rem;
}

.content {
  width: 43%;
  margin: 0 auto;
  position: relative;
}

.content article p:first-child a {
  -webkit-text-decoration-color: #cccccc;
          text-decoration-color: #cccccc;
}

.content article .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

.content article .socials span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.content article .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content article .socials ul li img {
  width: 24px;
  height: 24px;
  margin-left: 1em;
}

.content article > p {
  margin: 1em 0;
  font-size: 1.2rem;
}

.content .underline-blue-link {
  color: #326891;
  text-decoration: underline;
  -webkit-text-decoration-color: #326891;
          text-decoration-color: #326891;
}

.content .interruption {
  text-align: center;
  font-size: 0.9rem;
  width: 50%;
  margin: 1em auto;
  padding: 2em 0;
  position: relative;
}

.content .interruption .blue-link {
  color: #326891;
}

.content .interruption::after {
  content: '';
  position: absolute;
  width: 40%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #adadad;
}

.content .interruption::before {
  content: '';
  position: absolute;
  width: 40%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #adadad;
}

.content h3 {
  margin-top: 2.5em;
}

.content .sub-article {
  width: 160%;
  margin: 0.5em 0 0.5em -30%;
  font-size: 0.8rem;
}

.content .sub-article p:nth-child(2) {
  color: #666a79;
  font-size: 0.8rem;
}

.content .sub-article .sub-article-figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .sub-article .sub-article-figures figure {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
}

.content .sub-article .sub-article-figures figure img {
  width: 100%;
}

.content .sub-article .sub-article-figures figure figcaption strong {
  margin-right: 1.2em;
  font-size: 0.7rem;
}

.content .sub-article p:last-child {
  position: relative;
  padding: 1.5em 0;
  margin-top: 2.5em;
  font-size: 0.8rem;
}

.content .sub-article p:last-child::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333333;
  width: 8%;
}

.content .editors-absolute {
  position: absolute;
  height: 250px;
  width: 230px;
  right: -55%;
  top: 11%;
}

.content .editors-absolute h5 {
  padding: 1em;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 1em;
}

.content .editors-absolute article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .editors-absolute article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

.content .editors-absolute article figure img {
  width: 45%;
}

.content .editors-absolute article figure figcaption {
  width: 52%;
  font-size: 0.8rem;
}

.content .interview-video {
  margin: 3em 0;
  width: 100%;
}

.content .interview-video .video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.content .interview-video .video-wrapper .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .interview-video figcaption {
  color: #666a79;
  font-size: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 0.8em;
}

.content .interview-video figcaption .citation {
  color: #88888b;
  font-size: 0.6rem;
}

.content .bicep-telescope {
  width: 120%;
  margin-left: -10%;
}

.content .bicep-telescope img {
  width: 100%;
}

.content .bicep-telescope figcaption {
  color: #666a79;
  font-size: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 0.8em;
}

.content .bicep-telescope figcaption .citation {
  color: #88888b;
  font-size: 0.7rem;
}

.content div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content div:last-child button {
  border: 1px solid #326891;
  background-color: #567b95;
  color: white;
  padding: 0.5em 7em;
  font-size: 0.9rem;
  font-weight: bold;
}

.content div:last-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.content div:last-child ul li img {
  width: 24px;
  height: 24px;
  margin-left: 1em;
}

.content .message {
  color: #666a79;
  font-size: 0.8rem;
}

.links-to-more-articles {
  width: 85%;
  margin: 3em auto 1px auto;
  border-bottom: 2px solid #cfcfcf;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links-to-more-articles .left-col {
  border-top: 1px solid #333333;
  width: 70%;
}

.links-to-more-articles .left-col .figure-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-to-more-articles .left-col .figure-wrapper figure {
  width: 31%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5em;
}

.links-to-more-articles .left-col .figure-wrapper figure img {
  width: 100%;
}

.links-to-more-articles .left-col .figure-wrapper figure .first-p {
  color: #88888b;
  font-size: 0.6rem;
  text-align: right;
  width: 100%;
  margin: 0.6em 0;
}

.links-to-more-articles .left-col .figure-wrapper figure .first-p.no-margin {
  margin: 0;
  margin-top: -0.6em;
}

.links-to-more-articles .left-col .figure-wrapper figure .headline {
  font-weight: bold;
  margin: 0.7em 0;
}

.links-to-more-articles .left-col .figure-wrapper figure .date {
  color: #88888b;
  font-size: 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.links-to-more-articles .left-col .more-in-space > h4 {
  padding: 1em 0;
}

.links-to-more-articles .left-col .editors-pick {
  padding: 2em 0;
  border-top: 1px solid #333333;
}

.links-to-more-articles .left-col .editors-pick h4 {
  margin-bottom: 1em;
}

.links-to-more-articles aside {
  width: 27%;
  border-top: 1px solid #333333;
}

.links-to-more-articles aside h4 {
  padding: 1em 0;
}

.links-to-more-articles aside .headline {
  padding: 1.5em 0;
  font-size: 0.9rem;
  border-top: 1px solid #e2e2e2;
  font-weight: 600;
}

footer {
  width: 85%;
  margin: 0 auto;
  position: relative;
  padding-top: 1em;
  border-top: 1px solid #cfcfcf;
}

footer .image {
  padding: 0.3em;
}

footer .go-to-home {
  position: absolute;
  top: 3%;
  right: 0;
  font-size: 0.7rem;
  color: #4f84aa;
  text-decoration: none;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-right: 1px solid #cfcfcf;
  padding-right: 3em;
  width: 82%;
}

footer .wrapper .list-links ul {
  list-style: none;
}

footer .wrapper .list-links ul li {
  padding: 0.3em 0;
  margin: 0.5em 0;
  font-size: 0.8rem;
}

footer .wrapper .list-links ul li:hover {
  text-decoration: underline;
}

footer .wrapper .list-links ul li a {
  text-decoration: none;
  color: #0f0f0f;
}

footer .wrapper .subscribe {
  width: 17%;
}

footer .wrapper .subscribe ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

footer .wrapper .subscribe ul li {
  padding: 0.3em 0;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .subscribe ul li img {
  margin-right: 0.3em;
}

footer .wrapper .subscribe ul:first-child {
  border-bottom: 1px solid #cfcfcf;
}

footer .wrapper .subscribe ul:nth-child(2) {
  margin-top: 0.5em;
}

footer div:last-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding-bottom: 2em;
}

footer div:last-child ul li a {
  font-size: 0.8rem;
  text-decoration: none;
}

footer div:last-child ul li a:hover {
  text-decoration: underline;
}

footer .copyright ul {
  padding: 1em 0;
  border-top: 1px solid #cfcfcf;
  margin-top: 1em;
}
/*# sourceMappingURL=style.css.map */